.headerSection {
  background-color: var(--gray-100-color);
  border-bottom: 0.4px solid var(--gray-20-color);
  padding: 9px 0px 20px;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
