.heroSection {
  background-image: linear-gradient(
      rgba(18, 17, 21, 0.92),
      rgba(18, 17, 21, 0.92)
    ),
    url("../images/pixelBackground.png"),
    linear-gradient(rgba(18, 17, 21, 0.92), rgba(18, 17, 21, 0.92));
  background-repeat: repeat;
  background-position: center;

  width: 100%;
  height: 400px;

  padding-top: 64px;
  padding-bottom: 64px;

  position: relative;
}

.leftShapes {
  width: 200px;

  position: absolute;
  left: 0;
  top: 60px;
  opacity: 0.9;
}
.rightShapes {
  width: 200px;

  position: absolute;
  right: 0;
  bottom: 60px;
  opacity: 0.9;
}

@media screen and (min-width: 768px) {
  .heroSection {
    padding-top: 132px;
    padding-bottom: 138px;

    height: 603px;
  }

  .leftShapes {
    display: block;
    width: 360px;

    position: absolute;
    left: 0;
    top: 98px;
    opacity: 0.9;
  }
  .rightShapes {
    display: block;
    width: 360px;

    position: absolute;
    top: 98px;
    right: 0;
    opacity: 0.9;
  }
}

@media screen and (min-width: 1200px) {
  .leftShapes {
    width: 540px;
  }
  .rightShapes {
    width: 540px;
  }
}

.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroTitle {
  width: 250px;

  font-size: 24px;
  font-weight: 500;
  line-height: 152%;
  text-transform: uppercase;

  text-align: center;
  margin-bottom: 11px;

  z-index: 100;
}

.heroTitleAccent {
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 32px;
  text-transform: none;
}

.heroTitleSubAccent {
  font-size: 32px;
}

.heroText {
  font-size: 14px;
  line-height: 180%;
  letter-spacing: 0.2px;

  margin-bottom: 33px;
}

@media screen and (min-width: 768px) {
  .heroTitle {
    width: 750px;
    font-size: 48px;
  }
  .heroTitleAccent {
    font-size: 64px;
  }
  .heroTitleSubAccent {
    font-size: 64px;
  }
  .heroText {
    font-size: 20px;
  }
}
