.sectionTitle {
  font-family: var(--press-start-text-family);
  font-size: 24px;

  margin-bottom: 13px;

  color: var(--gray-80-color);
  text-shadow: 2px 1px var(--gray-10-color), 3px 2px var(--gray-80-color);
}

@media screen and (min-width: 768px) {
  .sectionTitle {
    font-size: 48px;
    margin-bottom: 26px;
  }
}

.sectionTitleLight {
  font-family: var(--press-start-text-family);
  font-size: 48px;

  margin-bottom: 50px;

  text-shadow: 3px 2px var(--gray-100-color), 4px 3px var(--gray-20-color);
}

.sectionTitleLightPart {
  background: var(--gray-20-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  position: relative;

  &::before {
    content: attr(data-content);
    position: absolute;
    text-shadow: 3px 2px var(--accent-color), 4px 3px var(--gray-20-color);
    top: -5px;
    right: 3px;
  }
}
