.sectionTitle {
  font-family: var(--press-start-text-family);
  font-size: 48px;

  margin-bottom: 26px;

  color: var(--gray-80-color);
  text-shadow: 2px 1px var(--gray-10-color), 3px 2px var(--gray-80-color);
}
