.swiper {
  width: 100%;
  height: 180px;

  position: unset;
}

.swiper-slide {
  flex-direction: row;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.swiper-item-element {
  width: 100%;
  height: 180px;

  border: 1px solid var(--gray-20-color);
  border-left: none;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;

  position: relative;

  &:hover,
  &:focus {
    .swiper-item-info {
      top: -1px;
    }
  }
}

.swiper-item-element:first-child,
.swiper-item-element:nth-child(4) {
  border-left: 1px solid var(--gray-20-color);
}

.swiper-item-info {
  width: 100%;
  height: 180px;
  padding: 29px 22px 29px 22px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 6px;

  background: var(--dark-accent-color);
  text-align: start;

  transition: top 300ms linear;

  position: absolute;
  top: -181px;
}

.swiper-item-info-main-text {
  color: var(--gray-0-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;

  text-align: start;
}

.swiper-item-info-text {
  color: var(--gray-0-color);
  line-height: 150%;
}

.swiper-pagination-bullet {
  background-color: var(--gray-20-color);
}
.swiper-pagination-bullet-active {
  background-color: var(--gray-80-color);
}

.swiper-wrapper {
  width: 100%;
  position: relative;
  overflow: visible;
}

.swiperPrev,
.swiperNext {
  display: none;
}

.arrowSlidePrev {
  fill: var(--gray-20-color);
  width: 39px;
}

.arrowSlideNext {
  fill: var(--gray-20-color);
  width: 39px;
  transform: rotate(180deg);
}

.swiper-button-prev svg,
.swiper-button-next svg {
  width: 39px;
}

@media screen and (min-width: 768px) {
  .swiperPrev,
  .swiperNext {
    top: 70%;
  }
  .swiperPrev {
    left: calc(100% - 1150px);
  }
  .swiperNext {
    right: calc(100% - 1150px);
  }
}

@media screen and (min-width: 1200px) {
  .swiperPrev,
  .swiperNext {
    display: flex;
    width: 64px;
    height: 48px;

    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 2px;
    border: 0.5px solid var(--gray-20-color);

    background: transparent;

    transition: background var(--animation);

    &::after {
      display: none;
    }

    &:hover,
    &:focus {
      background: var(--ui-gradient);

      .arrowSlidePrev,
      .arrowSlideNext {
        fill: var(--gray-0-color);
      }
    }
  }

  .swiper {
    width: 618px;
    height: 180px;
  }
}
@media screen and (min-width: 1477px) {
  .swiper {
    width: 1236px;
    height: 180px;
  }

  .swiperPrev,
  .swiperNext {
    top: 70%;
  }
  .swiperPrev {
    left: 0px + 20px;
  }
  .swiperNext {
    right: 0px + 20px;
  }
}
