:root {
  --rubik-text-family: "Rubik", sans-serif;
  --inter-text-family: "Inter", sans-serif;
  --press-start-text-family: "Press Start 2P", sans-serif;

  --gray-0-color: #fff;
  --gray-10-color: #f4f4f5;
  --gray-20-color: #a4a4a4;
  --gray-60-color: #46484a;
  --gray-80-color: #292a30;
  --gray-100-color: #121115;

  --purple-10-color: #dbc7e0;
  --purple-90-color: #3f1652;

  --accent-color: #ce7bec;
  --dark-accent-color: #981dc5;

  --text-gradient: linear-gradient(
    92deg,
    #c660f6 3.06%,
    #c780e8 48.04%,
    #e965fe 98.9%
  );
  --ui-gradient: linear-gradient(
    90deg,
    #990eda 0%,
    #a21fde 46.93%,
    #be36d4 100%
  );

  --animation: 300ms cubic-bezier(0.14, 0.77, 0.18, 0.45);
}
