:root {
    --rubik-text-family: 'Rubik', sans-serif;
    --inter-text-family: 'Inter', sans-serif;
    --press-start-text-family: 'Press Start 2P', sans-serif;

    --gray-0-color: #FFF;
    --gray-10-color: #F4F4F5;
    --gray-20-color: #A4A4A4;
    --gray-60-color: #46484A;
    --gray-80-color: #292A30;
    --gray-100-color: #121115;

    --purple-10-color: #DBC7E0;
    --purple-90-color: #3F1652;

    --accent-color: #CE7BEC;
    --dark-accent-color: #981DC5;

    --text-gradient: linear-gradient(92deg, #C660F6 3.06%, #C780E8 48.04%, #E965FE 98.9%);
    --ui-gradient: linear-gradient(90deg, #990EDA 0%, #A21FDE 46.93%, #BE36D4 100%);



}